Library/
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker2-prev.log
Logs/Packages-Update.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/AsteroidScripts.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/UnitTests.csprojAssemblyReference.cache
obj/Debug/Zenject.csprojAssemblyReference.cache
obj/Debug/Zenject-Editor.csprojAssemblyReference.cache
obj/Debug/Zenject-ReflectionBaking-Editor.csprojAssemblyReference.cache
obj/Debug/Zenject-TestFramework.csprojAssemblyReference.cache
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2021.dwlt
